/* 所有文本框 */
input
{
    border:1px solid gray;
    font-size:13pt;
    line-height:18pt;
}
/* 文本信息框、输入框和验证消息框的统一样式 */
div.text_info,div.input_info,div.vali_info
{
    height:40px;
    line-height:40px;
    /*左浮动*/
    float:left;
}
/* 文本信息框 */
div.text_info
{
    width:150px;
    /*清除左浮动的影响*/
    clear:left;
    /*文字居右排序*/
    text-align:right;
}
/* 输入框 */
div.input_info
{
    width:170px;
    /*左右外边距,,输入框与左边文字的距离*/
    padding-left:5px;
}
div.input_info input
{
    width:150px;
}
div.input_info span
{
    color:Red;
}
/* 验证信息框 */
div.vali_info
{
    width:300px;
    /*设置验证信息框的左边距，与输入框的距离*/
    margin-left: 5px;
}
div.vali_info span
{
    display:block;
    height:25px;
    line-height:25px;
    margin-top:5px;
    font-size:10pt;
    text-align: left;
    display:none;/* 页面初始，验证消息不显示 */
}


/* 文本框获得焦点时的样式 */
input.txt_focus
{
    border-top:3px solid #ccc;
    border-left:3px solid #ccc;
}
/* 验证消息：验证通过时的样式 */
span.vali_success
{
    background-image:url("../img/ok.png");
    background-repeat:no-repeat;
    background-position:left center;
}
/* 验证消息：验证失败时的样式 */
span.vali_fail
{
    background-image:url("../img/warning.png");
    background-repeat:no-repeat;
    background-position:left center;
    border:1px solid red;
    background-color:#ddd;
    color:Red;
    padding-left:30px;
    width:270px;
}
/* 操作按钮框 */
div.button_info
{
    height:40px;
    text-align:center;
    clear:left;
    width:500px;
    padding-top:10px;
}
div.button_info input
{
    width:80px;
    border-top:1px solid silver;
    border-left:1px solid silver;
    border-bottom:1px solid gray;
    border-right:1px solid gray;
}
