<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DaNei_Web</display-name>
  <servlet>
    <servlet-name>Ajax01</servlet-name>
    <servlet-class>com.danei.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax01</servlet-name>
    <url-pattern>/Ajax/Ajax01.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>com.danei.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/Ajax/check.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>json</servlet-name>
    <servlet-class>com.danei.servlet.JSONServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>json</servlet-name>
    <url-pattern>/JSON/json.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>
	org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>com.danei.servlet.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCookieServlet</servlet-name>
    <servlet-class>com.danei.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCookieServlet</servlet-name>
    <url-pattern>/addCookie.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readCookieServlet</servlet-name>
    <servlet-class>com.danei.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readCookieServlet</servlet-name>
    <url-pattern>/readCookie.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.danei.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>visiterNumCookieServlet</servlet-name>
    <servlet-class>com.danei.servlet.visiterNumCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visiterNumCookieServlet</servlet-name>
    <url-pattern>/visiterNum.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckcodeServlet</servlet-name>
    <servlet-class>com.danei.servlet.CheckcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckcodeServlet</servlet-name>
    <url-pattern>/Checkcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.danei.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CommentFilter</filter-name>
    <filter-class>com.danei.filter.CommentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommentFilter</filter-name>
    <url-pattern>/process</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CommentNumFilter</filter-name>
    <filter-class>com.danei.filter.CommentNumFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommentNumFilter</filter-name>
    <url-pattern>/process</url-pattern>
  </filter-mapping>
  <context-param>
  	<param-name>company</param-name>
  	<param-value>IBM</param-value>
  </context-param>
  <listener>
  	<listener-class>com.danei.listener.CountListener</listener-class>
  </listener>
  <error-page>
    <exception-type>
  			javax.servlet.ServletException
		</exception-type>
    <location>/error2.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>